/* https://mohs-74.github.io/Moderno/ */



/*  



    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
*/


.MRG{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: rgba(254, 74, 70,0.5);
    color: #000;
}

*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root{

    --Main-color:#fe4a46;
    --Second-color:#494949;
    --Third-color:#9e9e9e;

}


body{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
    overflow-x: hidden;
}





/* Start-First-Section */

.First-Section{
    
    background: url(../Img/Header.jpg) center scroll no-repeat;
    background-size: cover;

    height: 100vh;    

    padding: 15px;
    margin-left: 0;
    margin-right: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{

    width: 80px;
    height: 80px;
    background-image: url(../Img/logo\ .png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.Burger-Menu{
    cursor: pointer;
    position: relative;
    
}


.Shape-1,.Shape-2,.Shape-3{
    margin-bottom: 5px;
    background-color: white;
    width: 30px;
    height: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#Check-k:checked + .Burger-Menu .Burger-Hover{
    right: 0px;
    opacity: 1;
}

#Check-k:checked + .Burger-Menu .Shape-2{

    opacity: 0;
}

#Check-k:checked + .Burger-Menu .Shape-1{

    rotate: -45deg;
    background-color: var(--Main-color);
}

#Check-k:checked + .Burger-Menu .Shape-3{

    rotate: 45deg;
    translate: 0px -20px;
    background-color: var(--Main-color);
}



.Burger-Hover{

    position: absolute;
    right: -300px;
    opacity: 0;
    background-color: rgba(51, 51, 51,0.7);
    height: 80vh;
    width: 300px;
    
    translate: 15px 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;

    transition: all 0.5s ease;

    z-index: 100;
}


.Burger-Hover h4{
    font-size: 38pt;
}

.Burger-Hover a{
    text-decoration: none;
    color: white;
    font-size: 20pt;
    margin-top: 50px;

    transition: all 0.3s;
}

.Burger-Hover a:hover{
    color: var(--Main-color);
}

.F-S-2{
    
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 30px;
}

.F-S-2 h1{
    font-size: 75pt;
}

.F-S-2 p{
    font-size: 20pt;
    text-align: center;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
}

.F-S-2 .First-Btn{
    padding: 25px 35px;
    font-size: 18px;
    color: white;
    background-color: var(--Main-color);
    outline: none;
    border: 2px solid var(--Main-color);
    cursor: pointer;

    transition: 0.3s ease;
}

.F-S-2 .First-Btn:hover{
    background-color: white;
    color: var(--Main-color);
}






@media screen and (max-width:1140px) {
    
    .F-S-2 h1{
        font-size: 70pt;
    }
    
    .F-S-2 p{
        font-size: 15pt;
        text-align: center;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
    }
    
    .F-S-2 .First-Btn{
        padding: 25px 35px;
        font-size: 18px;
        color: white;
        background-color: var(--Main-color);
        outline: none;
        border: 2px solid var(--Main-color);
        cursor: pointer;
    
        transition: 0.3s ease;

        scale: 0.9;
    }
    

}


@media screen and (max-width:864px) {

    .F-S-2 h1{
        font-size: 60pt;
    }
    
    .F-S-2 p{
        font-size: 10pt;
        text-align: center;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
    }
    
    .F-S-2 .First-Btn{
        padding: 25px 35px;
        font-size: 18px;
        color: white;
        background-color: var(--Main-color);
        outline: none;
        border: 2px solid var(--Main-color);
        cursor: pointer;
    
        transition: 0.3s ease;

        scale: 0.9;
    }
    
}


@media screen and (max-width:480px) {

    .F-S-2 h1{
        font-size: 45pt;
    }
    
    .F-S-2 p{
        font-size: 10pt;
        text-align: center;
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-weight:300;
        font-style: normal;
    }
    
    .F-S-2 .First-Btn{
        padding: 25px 35px;
        font-size: 18px;
        color: white;
        background-color: var(--Main-color);
        outline: none;
        border: 2px solid var(--Main-color);
        cursor: pointer;
    
        transition: 0.3s ease;

        scale: 0.9;
    }
    
}

/* End-First-Section */




/* Start-Second-Section */


.Second-Section{

    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;

    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.First-Card , .Second-Card , .Third-Card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;

    line-height: 1.5;

    scale: 0.7;
}

.Circle-Shape{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
}

.Circle-Shape:hover{
    background-color: var(--Main-color);
    border: 2px solid var(--Main-color);
}
.Circle-Shape:hover *{
    color: white;
}
.Circle-Shape *{
    font-size: 4em;
    color: var(--Main-color);
    transition: all 0.3s ease;
}

.First-Card .P-1{

    font-size: 20pt;
}

.Second-Card .P-1{

    font-size: 20pt;
}

.Third-Card .P-1{

    font-size: 20pt;
}

.First-Card .P-2{
    font-size: 15pt;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.Second-Card .P-2{
    font-size: 15pt;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.Third-Card .P-2{

    font-size: 15pt;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


@media screen and (max-width:1000px) {

    .Second-Section{

        padding-top: 10%;
        padding-bottom: 10%;
        padding-left: 3%;
        padding-right: 3%;
    
        color: #000;
    
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    
        gap: 60px;
    }
    
    .First-Card , .Second-Card , .Third-Card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
    
        line-height: 1.5;
    
        scale: 0.8;
    }

    
}
/* End-Second-Section */








/* Start-Third-Section */

.Third-Section,.Fourth-Section{
    padding: 5% 30%;

    display: flex;

    justify-content: center;

    align-items: center;

    color: #000;

    flex-direction: column;
    
    gap: 10px;

    background-color: #fbfbfb;
}

.Third-Section h3{
    font-size: 25pt;
    color: var(--Second-color);
}

.Third-Section p{
    color: var(--Third-color);
    font-size: 10pt;
    white-space: nowrap;
}










.Container-Grid{

    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}

.Container-Grid *{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 390px;
    height: 290px;
    position: relative;
    
    transition: all 0.3s ease;

    display:flex;
    justify-content: center;
    align-items: center;
   
}


.Container-Grid div:hover i{
    opacity: 1;
}

.Container-Grid div i:hover{
    scale: 0.7;
}

.Container-Grid div:hover::before{
    opacity: 1;
}

.Container-Grid div i{
    font-size: 5em;
    color: white;
    
    position: absolute;

    

    background-color: var(--Main-color);
    width: 100px;
    height: 100px;

    font-weight: 800;

    display: flex;
    justify-content: center;

    align-items: center;
    scale: 0.6;
    
    opacity: 0;
    cursor: pointer;
    
}

.Container-Grid div::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    
    

    background-color: rgba(0, 0, 0, 0.6);

    transition: all 0.3s ease;

    opacity: 0;
}




.Image-1{
    background-image:url(../Img/project-1.png);
}


.Image-2{
    background-image:url(../Img/project-2.jpg);
}

.Image-3{
    background-image:url(../Img/project-3.jpg);
}

.Image-4{
    background-image:url(../Img/project-4.jpg);
}

.Image-5{
    background-image:url(../Img/project-5.jpg);
}

.Image-6{
    background-image:url(../Img/project-6.png);
}

@media screen and (max-width:1253px) {

    .Container-Grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    
}

@media screen and (max-width:829px) {

    .Container-Grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    
}

@media screen and (max-width:660px) {

    .Third-Section h3{
        font-size: 25pt;
        color: var(--Second-color);
        white-space: nowrap;
    }
    
    .Third-Section p{
        color: var(--Third-color);
        font-size: 11pt;
        text-wrap: wrap;
    }


    .Container-Grid *{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 330px;
    height: 230px;
}

}



/* End-Third-Section */




/* Start-Section-Fourth */



.Fourth-Section h3{
    font-size: 25pt;
    color: var(--Second-color);

    white-space: nowrap;
}

.Fourth-Section p{
    color: var(--Third-color);
    font-size: 10pt;
    white-space: nowrap;
}



form{

    margin: 3% 10%;

    width:60%;


    display: grid;

    

  

    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,auto);

    gap: 30px;

}

#Name,#Email{

    color: #000;

    border: none;
    outline: none;

    font-size: 1em;

    background-color: #f1f4f7;
    width: 100%;
    height: 50px;

    padding-left: 20px;

    transition: all 0.3s ease;
}

#Name:focus{
    border-radius:5px;
    border: 2px solid var(--Second-color);
}
#Email:focus{
    border-radius: 5px;
    border: 2px solid var(--Second-color);
}

#Message{
    grid-column: 2 span;
 
    width: 100%;
    height: 50px;
    padding-left: 20px;

    transition: all 0.3s ease;

    color: #000;
    background-color: #f1f4f7;

    font-size: 1em;

    border: none;
    outline: none;
}

#Message:focus{
    border-radius: 5px;
    border: 2px solid var(--Second-color);
}

#Finaly-Message{


color: #000;

    border: none;
    outline: none;

    font-size: 1.4em;

    background-color: #f1f4f7;
    width: 100%;
    height: 300px;

    padding-left: 20px;

    transition: all 0.3s ease;

    grid-column: 2 span;

    padding-top: 10px;

}

#Finaly-Message:focus{

    border-radius: 5px;
    border: 2px solid var(--Second-color);

}

.Sub-Btn{
    

    color: #fff;

    background-color: var(--Main-color);
    width: 100%;
    height: 70px;

    border: 2px solid var(--Main-color);

    transition: all 0.3s ease;

    grid-column: 2 span;

    font-size: 1.7em;

    cursor: pointer;
}

.Sub-Btn:hover{
    background-color: white;
    color: var(--Main-color);
}


.All{
    color: #000;

    display: flex;

    flex-direction: column;

    gap: 45px;
    width: 40%;

    white-space: wrap;

    translate: 190% -134%;
    font-size: 1.2em;

    margin-bottom: 20px;
}



@media screen and (max-width:900px) {
    
    form{

        margin: 3% 15%;
    
        width:70%;
    
       
    
        display: flex;
    
        
    
      
    
        flex-direction: column;
    
        gap: 30px;
    
    }

    .All{
        color: #000;
    
        display: flex;
    
        flex-direction: column;
    
        gap: 35px;
        width: 40%;
    
        white-space: wrap;
    
        translate: 100% 1%;
        
        font-size: 1em;

        flex-wrap: nowrap;
    }

    .All *{
        white-space: nowrap;
    }
}

@media screen and (max-width:536px) {

    .Fourth-Section h3{
        font-size: 19pt;
        color: var(--Second-color);
    }
    
    .Fourth-Section p{
        color: var(--Third-color);
        font-size: 8pt;
        white-space: wrap;
    }
    
    
    
}

@media screen and (max-width:369px) {

    .All{
        translate: 90% 1%;
        
        font-size: 0.8em;

        gap: 20px;
        

    }
    
}



/* End-Section-Fourth */



/* Start-Footer */

footer{
    display: flex;

    justify-content: space-between;

    

    align-items: center;

    height: 20vh;

    padding: 0px 20%;

    background-color: var(--Second-color);
}

footer div a i{

    margin-left: 20px;

    text-decoration: none;

    color: white;

    font-size: 2em;

    transition: all 0.5s ease;
}

footer p{
    font-size: 1.1em;
}

footer span{
    color: var(--Main-color);

    font-size: 1.5em;

    
}

.AHA:hover{

    color: blue;
    scale: 1.5;

}

.AHA-2:hover{
    color: red;
    scale: 1.5;
}

.AHA-3:hover{


    color: #000;
    scale: 1.5;
}


@media screen and (max-width:785px) {
    

    footer{
        display: flex;
    
        justify-content: space-between;
    
        
    
        align-items: center;
    
        height: 20vh;
    
        padding: 0px 10%;
    
        background-color: var(--Second-color);
    }
    
    footer a{
    
        margin-left: 10px;
    
        text-decoration: none;
    
        color: white;
    
        font-size: 1.7em;
    
        transition: all 0.5s ease;
    }
    
    footer p{
        font-size: 1em;
    }
    
    footer span{
        color: var(--Main-color);
    
        font-size: 1.3em;
    
        
    }

}


@media screen and (max-width:637px) {

    footer{
        display: flex;
    
        justify-content: space-between;
    
        
    
        align-items: center;
    
        height: 20vh;
    
        padding: 0px 10%;
    
        background-color: var(--Second-color);
    }
    
    footer a{
    
        margin-left: 7px;
    
        text-decoration: none;
    
        color: white;
    
        font-size: 1em;
    
        transition: all 0.5s ease;
    }
    
    footer p{
        font-size: 0.8em;
    }
    
    footer span{
        color: var(--Main-color);
    
        font-size: 1em;
    
        
    }
    
}


@media screen and (max-width:479px) {

    footer{
        display: flex;
    
        justify-content: space-between;
    
        
        flex-direction: column;
        align-items: center;
    
        height: 20vh;
    
        padding: 7% 4%;
    
        background-color: var(--Second-color);

        
    }
    
    footer a{
    
        margin-left: 5px;
    
        text-decoration: none;
    
        color: white;
    
        font-size: 1.3em;
    
        transition: all 0.5s ease;

        margin-top: -10px;
    }
    
    footer p{
        font-size: 1em;
    }
    
    footer span{
        color: var(--Main-color);
    
        font-size: 1.3em;
    
        
    }

}

@media screen and (max-width:351px) {
    
    footer{
        display: flex;
    
        justify-content: flex-start;
    
        flex-direction: column;
    
        align-items: center;
    
        height: 20vh;
    
        padding: 12% 4%;
        gap: 20px;
    
        background-color: var(--Second-color);
    }

    .F-S-2 h1{
        font-size: 34pt;
    }

}

@media screen and (max-width:337px) {
    
    .Container-Grid div{
        scale: 0.8;
    }

}

/* End-Footer */
